body {
  background: rgb(250, 243, 231);
  text-align: left;
}

.containerBox {
  background: white;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  background-color: rgb(250, 225, 186);
  width: 90%;
  max-width: 470px;
  margin: 100px auto 0;
  margin-block-start: 30px;
  margin-block-end: 10px;
  border-radius: 40px;
}
.search-form {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding: 15px 25px;
}

.search-box {
  border: 0;
  outline: 0;
  background: rgb(250, 225, 186);
  border-radius: 40px;
  height: fit-content;
}

.search-button {
  border-color: gray;
  font-family: Georgia;
  font-weight: 500;
  margin-inline-start: 250%;
}

h1,
h2,
h3,
h4,
h5 {
  margin-block-start: 30px;
  font-weight: 500;
  color: #007cb9;
  display: inline;
  padding-inline-start: 30px;
  padding-inline-end: 35px;
}

h2,
h3,
h4,
h5 {
  font-size: 1.25em;
  line-height: 24px;
}

.current-details strong {
  color: #007cb9;
}

.row {
  display: inline-flex;
  font-size: 1.5em;
  color: #1a64d6;
  list-style: none;
  text-align: center;
}

.col {
  padding: 30px;
}

.col:hover {
  background-color: rgb(250, 225, 186);
  transition: all 200ms ease-in;
  border-radius: 40px;
  padding: 30px;
  margin: 40px;
}

img {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;

  color: rgba(39, 33, 66, 0.4);
}
